#feedback{
    padding: 30px;
    cursor: pointer;
    margin: 20px 0;
    border: 1px solid black;
}
#feedback-img{
    margin-right: 10px;
    float: left;
    width: 64px;
    border-radius: 100%;
}
#feedback-person{
    font-weight: bold;
}
#feedback-text{
    text-align: left;
    color: grey;
}